<% include ./partials/navBar %>
<div class="row mt-2">
    <div class="col-md-8 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-5">Création de test</h1>
            <% include ./partials/message %>
            <form action="/project/<%= project.id %>/createTest" method="POST">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <textarea class="form-control" id="name" rows="1" name="name"></textarea>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="description"
                        placeholder="Décrivez votre test en quelques lignes" required></textarea>
                </div>
                <div class="form-group">
                    <label for="state">Etat</label>
                    <select class="form-control" id="state" name="state">
                        <option>FAILED</option>
                        <option>PASSED</option>
                    </select>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Difficulté</th>
                            <th scope="col">Priorité</th>
                            <th scope="col">Sélection</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            <% let firstSelected = false; %>
                            <% project.sprints.forEach(function (sprint) { %>
                            <% sprint.userStories.forEach(function (userStory) { %>
                            <td><%= userStory.description %></td>
                            <td><%= userStory.difficulty %></td>
                            <td><%= userStory.priority %></td>
                            <td>
                                <div class="custom-control custom-radio" id="checkBoxAddUserstory">
                                    <input type="radio" class="custom-control-input"
                                        id="customCheck<%= sprint.id %><%= userStory.id %>" name="selectedUs"
                                        value="<%= JSON.stringify(userStory) %>" <% if (firstSelected == false) {%>checked<%; firstSelected = true; } else { %>unchecked<% } %>>
                                    <label class="custom-control-label"
                                        for="customCheck<%= sprint.id %><%= userStory.id %>"></label>
                                </div>
                            </td>
                        </tr>
                        <% });%>
                        <% });%>
                    </tbody>
                </table>

                <div class="form-group">
                    <button type="submit" id="submitCreate" class="btn btn-primary btn-block">Créer un test</button>
                </div>
            </form>
        </div>
    </div>
</div>