<% include ./partials/navBar%>
<div class="jumbotron jumbotron-fluid" style="background: none;">
            <h1 class="text-center mb-3">Ajouter tache a user story</h1>
            <form action="/project/<%= project.id %>/linkTask/<%= task.id %>" method="POST" class="mr-auto">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Difficulté</th>
                            <th scope="col">Priorité</th>
                            <th scope="col">Selection</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            <% project.sprints.forEach(function (sprint) { %>
                            <% sprint.userStories.forEach(function (userStory) { %>
                            <td><%= userStory.description %></td>
                            <td><%= userStory.difficulty %></td>
                            <td><%= userStory.priority %></td>
                            <td>
                                <div class="custom-control custom-checkbox" id="checkBoxAddUserstory">
                                    <input type="checkbox" class="custom-control-input"
                                        id="customCheck<%= sprint.id %><%= userStory.id %>" name="selectedUs"
                                        value="<%= JSON.stringify(userStory) %>" unchecked>
                                    <label class="custom-control-label"
                                        for="customCheck<%= sprint.id %><%= userStory.id %>"></label>
                                </div>
                            </td>
                        </tr>
                        <% });%>
                        <% });%>
                    </tbody>
                </table>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Ajouter les user
                stories sélectionnées</button>
        </div>
    </div>
    </form>
</div>