<%- include ./partials/navBar%>

<div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3">Modification d'un sprint</h1>
                <% include ./partials/message%>
                <form action="/project/<%= projectId %>/modifySprint/<%= sprintId %>" method="POST">
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Entrez le nom du sprint" value="<%=sprintName %>" />
                    </div>
                    <div class="form-group">
                        <label for="description">Date de début</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group date" id="datepickerstart" data-target-input="nearest">
                                        <input type="text" id="startDate" name="startDate" class="form-control datetimepicker-input" data-target="#datepickerstart"
                                            value="<%= moment(sprintStartDate).format('MM/DD/YYYY') %>" />
                                        <div class="input-group-append" data-target="#datepickerstart" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datepickerstart').datetimepicker({
                                        format: 'L'
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Date de fin</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group date" id="datepickerend" data-target-input="nearest">
                                        <input type="text" id="endDate" name="endDate" class="form-control datetimepicker-input" data-target="#datepickerend"
                                            value="<%= moment(sprintEndDate).format('MM/DD/YYYY') %>" />
                                        <div class="input-group-append" data-target="#datepickerend" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datepickerend').datetimepicker({
                                        format: 'L'
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <button type="submit" id="submitCreate" class="btn btn-primary btn-block">Modifier le sprint</button>
                </form>
            </div>
        </div>
    </div>