<%- include ./partials/navBar%>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
         <h1><%= projectName %>
            <form action="/project/<%= projectId %>/modifyName" method="GET" style="display:inline">
                <input type="image" src="/icons/edit-button.png"" />
            </form>
        </h1>
    
        <div class=" card card-body">
            <form action="/project/<%= projectId %>/" method="POST">
                <input type="text" value="<%= projectDesc %>" id="projectDescription" name="projectDescription"
                        style="width:100%" />
                <button type="submit" class="btn btn-dark" id="confirmModification">Appliquer</button>
            </form>
        </div>

        <a href="">Accéder au backlog</a>
        <br>
        <button class="btn btn-dark" onclick="confirmDeletePopup()">Supprimer le projet</button>
        
    </div>
</div>