<%- include ./partials/navBar%>
<div class="row mt-5">
    <div class="col-md-6 m-auto">

        <form action="/project/<%= projectId %>/" method="POST">
            <input type="text" value="<%= projectName %>" id="projectName" name="projectName" />
            <input type="image" src="/icons/confirm-icon.png" id="confirmModification"/>
        </form>

        <div class="card card-body">
            <p><%= projectDesc %></p>
            <form action="/project/<%= projectId %>/modifyDescription" method="GET">
                <button type="submit" class="btn btn-dark">Modifier</button>
            </form>
        </div>
    
        <a href="">Accéder au backlog</a>
        <br>
        <button class="btn btn-dark" onclick="confirmDeletePopup()">Supprimer le projet</button>

    </div>
</div>