<%- include ./partials/navBar%>
<script>
    function confirmDeletePopup() {
        if (confirm("Êtes-vous sûr de vouloir supprimer ce projet ?")) {
            window.location = "/project/<%= projectId %>/delete";
        }
    }
</script>
<div class="row mt-5">
    <div class="col-sm-10 m-auto">
        <% include ./partials/message%>

        <div class="card border-light mb-3" style="max-width: 75rem;">
            <div class="card-header"><%= projectName %>
                <small><a href="/project/<%= projectId %>/modifyProject"><i class="fas fa-edit fa-lg"></i></a></small>
            </div>
            <div class="card-body">
                <h4 class="card-title"><%= projectName %></h4>
                <p class="card-text"><%= projectDesc %></p>
            </div>
            <%- include ./partials/backlog%>
            <br>
            <button class="btn btn-dark" onclick="confirmDeletePopup()" width="10%">Supprimer le projet</button>

        </div>
    </div>