<%- include ./partials/navBar%>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <% include message %>
        <h1><%= projectName %>
            <form action="/project/<%= projectId %>/modifyName" method="GET">
                <input type="image" src="/icons/edit-button.png"" />
            </form>
        </h1>

        <!-- <input type=" image" src="/icons/edit-button.png" formmethod="post" formaction="/users/login" /> -->

        <div class="card card-body">
            <p><%= projectDesc %></p>
            <form action="/project/<%= projectId %>/modifyDescription" method="GET">
                <button type="submit" class="btn btn-dark">Modifier</button>
            </form>
            <a href="">Accéder au backlog</a>
            <form action="" method="GET">
                <button type="submit" class="btn btn-dark">Supprimer</button>
            </form>
        </div>

    </div>
</div>