<% if(typeof orphanUs == 'undefined' || orphanUs.length == 0) { %>
    <div class="card-header">Backlog</div>
    <div class="card-body">
        <h5 class="card-title">Vous n'avez pas de user stories.</h5>
        <form action="/project/<%= project.id %>/createUserStory" method="GET">
            <button type="submit" class="btn btn-outline-primary">Ajouter une user story</button>
        </form>
    </div>
<%} else {%>
    <h5 class="card-header">Issues n'étant pas assignées à des sprints</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Difficulté</th>
                <th scope="col">Priorité</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
            <tbody>
                
                <tr class="table-light">
                    <% orphanUs.forEach(function (userStory) { %>
                    <td><%= userStory.description %></td>
                    <td><%= userStory.difficulty %></td>
                    <td><%= userStory.priority %></td>
                    <td>
                        <a href="/project/<%= project.id %>/editUserStory/<%= userStory.id %>"><i class="fas fa-edit fa-lg"></i></a>
                        <a href="/project/<%= project.id %>/deleteUserStory/<%= userStory.id %>"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>                   
                    </td>
                </tr>
                <% });%>
            </tbody>
            <tfoot>
                <form action="/project/<%= project.id %>/createUserStory" method="GET">
                    <button type="submit" class="btn btn-secondary">Ajouter une User Story</button>
                </form>
            </tfoot>
    </table>
    <%}%>