<% if(typeof tasks == 'undefined' || tasks.length == 0) { %>
<div class="card-header">Tâches</div>
<div class="card-body">
    <h5 class="card-title">Vous n'avez pas de tâches.</h5>
    <form action="/project/<%= project.id %>/createTask" method="GET">
        <button type="submit" class="btn btn-outline-primary">Ajouter une nouvelle tâche</button>
    </form>
</div>
<%} else {%>
<div class="jumbotron" id="taskSection">
    <h5 class="card-header">Tâches existantes</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Développeur</th>
                <th scope="col">État</th>
            </tr>
        </thead>
        <tbody>

            <% tasks.forEach(function (task) { %>
            <% let classCss = parseInt(task.state) > 2 ? "table-success" : "table-danger" ;%>
            <tr class=<%= classCss %>>
                <td><%= task.description %></td>
                <td><%= task.developerId %></td>
                <td><%= task.state %></td>
                <td>
                    <a href="/project/<%= project.id %>/modifyTask/<%= task.id %>"><i class="fas fa-edit fa-lg"></i></a>
                    <a href="/project/<%= project.id %>/deleteTask/<%= task.id %>"><i class="fa fa-trash fa-lg"
                            aria-hidden="true"></i></a>
                    <a href="/project/<%= project.id %>/linkTask/<%= task.id %>"><i class="fa fa-link fa-lg"
                            aria-hidden="true"></i></a>
                </td>
            </tr>
            <% });%>
        </tbody>
        <tfoot>
            <form action="/project/<%= project.id %>/createTask" method="GET">
                <button type="submit" class="btn btn-secondary">Ajouter une nouvelle tâche</button>
            </form>
        </tfoot>
    </table>
</div>
<%}%>